In [1]:
import os
import numpy as np
import scipy.io.wavfile as wf
import matplotlib.pyplot as plt
import librosa
import pandas as pd
from sklearn.metrics import classification_report

# Training-a

In [2]:
audio_dataset_path_a = 'C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-a'

In [3]:
metadata_a=pd.read_csv('C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-a/REFERENCE.csv',header= None)

In [4]:
metadata_a.head()

           0      1  2
0  a0001.wav  a0001  1
1  a0002.wav  a0002  1
2  a0003.wav  a0003  1
3  a0004.wav  a0004  1
4  a0005.wav  a0005  1

In [5]:
metadata_a = metadata_a.rename(columns={0: "File_name",1:"names", 2: "Class"})

In [6]:
metadata_a['Class'] = metadata_a['Class'].map({1: 1, -1: 0})

In [7]:
metadata_a.head()

   File_name  names  Class
0  a0001.wav  a0001      1
1  a0002.wav  a0002      1
2  a0003.wav  a0003      1
3  a0004.wav  a0004      1
4  a0005.wav  a0005      1

In [8]:
metadata_a['Class'].value_counts()

1    292
0    117
Name: Class, dtype: int64

In [9]:
def features_extractor(file):
    audio, sample_rate = librosa.load(file_name, res_type='kaiser_fast') 
    mfccs_features = librosa.feature.mfcc(y=audio, sr=sample_rate, n_mfcc=40,dct_type=2)
    mfccs_scaled_features = np.mean(mfccs_features.T,axis=0)
    
    return mfccs_scaled_features

In [10]:
import numpy as np
from tqdm import tqdm
### Now we iterate through every audio file and extract features 
### using Mel-Frequency Cepstral Coefficients
extracted_features_a=[]
for index_num,row in tqdm(metadata_a.iterrows()):
    file_name = os.path.join(os.path.abspath(audio_dataset_path_a),str(row["File_name"]))
    final_class_labels=row["Class"]
    data=features_extractor(file_name)
    extracted_features_a.append([data,final_class_labels])

409it [01:53,  3.61it/s]

In [11]:
### converting extracted_features to Pandas dataframe
extracted_features_df_a=pd.DataFrame(extracted_features_a,columns=['feature','class'])
extracted_features_df_a.head()

                                             feature  class
0  [-577.74457, 116.68117, 82.45421, 40.931873, 7...      1
1  [-628.8163, 136.51126, 100.357864, 56.20959, 1...      1
2  [-601.1834, 77.22223, 61.623146, 42.22163, 25....      1
3  [-562.589, 88.77356, 71.55774, 49.522438, 29.5...      1
4  [-489.47345, 65.72582, 57.030285, 45.383488, 3...      1

In [12]:
extracted_features_df_a["class"].value_counts()

1    292
0    117
Name: class, dtype: int64

# Training-b

In [13]:
audio_dataset_path_b = 'C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-b'

In [14]:
metadata_b=pd.read_csv('C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-b/REFERENCE.csv',header= None)

In [15]:
metadata_b.head()

           0      1  2
0  b0001.wav  b0001 -1
1  b0002.wav  b0002 -1
2  b0003.wav  b0003 -1
3  b0004.wav  b0004 -1
4  b0005.wav  b0005 -1

In [16]:
metadata_b = metadata_b.rename(columns={0: "File_name",1:"names", 2: "Class"})

In [17]:
metadata_b['Class'] = metadata_b['Class'].map({1: 1, -1: 0})

In [18]:
metadata_b.head()

   File_name  names  Class
0  b0001.wav  b0001      0
1  b0002.wav  b0002      0
2  b0003.wav  b0003      0
3  b0004.wav  b0004      0
4  b0005.wav  b0005      0

In [19]:
metadata_b['Class'].value_counts()

0    386
1    104
Name: Class, dtype: int64

In [20]:
import numpy as np
from tqdm import tqdm
### Now we iterate through every audio file and extract features 
### using Mel-Frequency Cepstral Coefficients
extracted_features_b=[]
for index_num,row in tqdm(metadata_b.iterrows()):
    file_name = os.path.join(os.path.abspath(audio_dataset_path_b),str(row["File_name"]))
    final_class_labels=row["Class"]
    data=features_extractor(file_name)
    extracted_features_b.append([data,final_class_labels])

490it [00:39, 12.43it/s]

In [21]:
### converting extracted_features to Pandas dataframe
extracted_features_df_b=pd.DataFrame(extracted_features_b,columns=['feature','class'])
extracted_features_df_b.head()

                                             feature  class
0  [-433.87863, 79.64535, 65.05969, 46.481567, 29...      0
1  [-446.7317, 53.865833, 50.054825, 44.660587, 3...      0
2  [-445.3087, 59.22738, 51.841167, 42.04721, 32....      0
3  [-428.39783, 116.43821, 90.566895, 57.912445, ...      0
4  [-446.5004, 99.203636, 79.11679, 53.690357, 30...      0

In [22]:
extracted_features_df_b["class"].value_counts()

0    386
1    104
Name: class, dtype: int64

# Training c

In [23]:
audio_dataset_path_c = 'C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-c'

In [24]:
metadata_c=pd.read_csv('C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-c/REFERENCE.csv',header= None)

In [25]:
metadata_c.head()

           0      1  2
0  c0001.wav  c0001  1
1  c0002.wav  c0002  1
2  c0003.wav  c0003 -1
3  c0004.wav  c0004  1
4  c0005.wav  c0005  1

In [26]:
metadata_c = metadata_c.rename(columns={0: "File_name",1:"names", 2: "Class"})

In [27]:
metadata_c['Class'] = metadata_c['Class'].map({1: 1, -1: 0})

In [28]:
metadata_c.head()

   File_name  names  Class
0  c0001.wav  c0001      1
1  c0002.wav  c0002      1
2  c0003.wav  c0003      0
3  c0004.wav  c0004      1
4  c0005.wav  c0005      1

In [29]:
metadata_c['Class'].value_counts()

1    24
0     7
Name: Class, dtype: int64

In [30]:
import numpy as np
from tqdm import tqdm
### Now we iterate through every audio file and extract features 
### using Mel-Frequency Cepstral Coefficients
extracted_features_c=[]
for index_num,row in tqdm(metadata_c.iterrows()):
    file_name = os.path.join(os.path.abspath(audio_dataset_path_c),str(row["File_name"]))
    final_class_labels=row["Class"]
    data=features_extractor(file_name)
    extracted_features_c.append([data,final_class_labels])

31it [00:11,  2.64it/s]

In [31]:
### converting extracted_features to Pandas dataframe
extracted_features_df_c=pd.DataFrame(extracted_features_c,columns=['feature','class'])
extracted_features_df_c.head()

                                             feature  class
0  [-579.58185, 50.943283, 46.651367, 40.794743, ...      1
1  [-594.84357, 59.629078, 53.675842, 45.549576, ...      1
2  [-412.30063, 96.63816, 79.15537, 56.299557, 34...      0
3  [-558.97015, 51.65941, 47.772663, 42.396885, 3...      1
4  [-625.97504, 71.32771, 60.507927, 47.32617, 34...      1

In [32]:
extracted_features_df_c["class"].value_counts()

1    24
0     7
Name: class, dtype: int64

# Training d

In [33]:
audio_dataset_path_d = 'C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-d'

In [34]:
metadata_d=pd.read_csv('C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-d/REFERENCE.csv',header= None)

In [35]:
metadata_d.head()

           0      1  2
0  d0001.wav  d0001 -1
1  d0002.wav  d0002  1
2  d0003.wav  d0003  1
3  d0004.wav  d0004  1
4  d0005.wav  d0005 -1

In [36]:
metadata_d = metadata_d.rename(columns={0: "File_name",1:"names", 2: "Class"})

In [37]:
metadata_d['Class'] = metadata_d['Class'].map({1: 1, -1: 0})

In [38]:
metadata_d.head()

   File_name  names  Class
0  d0001.wav  d0001      0
1  d0002.wav  d0002      1
2  d0003.wav  d0003      1
3  d0004.wav  d0004      1
4  d0005.wav  d0005      0

In [39]:
metadata_d['Class'].value_counts()

1    28
0    27
Name: Class, dtype: int64

In [40]:
import numpy as np
from tqdm import tqdm
### Now we iterate through every audio file and extract features 
### using Mel-Frequency Cepstral Coefficients
extracted_features_d=[]
for index_num,row in tqdm(metadata_d.iterrows()):
    file_name = os.path.join(os.path.abspath(audio_dataset_path_d),str(row["File_name"]))
    final_class_labels=row["Class"]
    data=features_extractor(file_name)
    extracted_features_d.append([data,final_class_labels])

55it [00:07,  7.55it/s]

In [41]:
### converting extracted_features to Pandas dataframe
extracted_features_df_d=pd.DataFrame(extracted_features_d,columns=['feature','class'])
extracted_features_df_d.head()

                                             feature  class
0  [-593.3391, 80.76215, 68.65943, 52.654858, 36....      0
1  [-659.3176, 88.1984, 73.341934, 53.485588, 33....      1
2  [-586.1907, 73.33472, 62.49694, 48.268295, 34....      1
3  [-729.93585, 136.42511, 104.818634, 64.8677, 2...      1
4  [-510.3166, 64.93548, 56.87729, 46.201912, 35....      0

In [42]:
extracted_features_df_d["class"].value_counts()

1    28
0    27
Name: class, dtype: int64

# Training e

In [43]:
audio_dataset_path_e = 'C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-e'

In [44]:
metadata_e=pd.read_csv('C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-e/REFERENCE.csv',header= None)

In [45]:
metadata_e.head()

            0       1  2
0  e00001.wav  e00001 -1
1  e00002.wav  e00002 -1
2  e00003.wav  e00003 -1
3  e00004.wav  e00004 -1
4  e00005.wav  e00005 -1

In [46]:
metadata_e = metadata_e.rename(columns={0: "File_name",1:"names", 2: "Class"})

In [47]:
metadata_e['Class'] = metadata_e['Class'].map({1: 1, -1: 0})

In [48]:
metadata_e.head()

    File_name   names  Class
0  e00001.wav  e00001      0
1  e00002.wav  e00002      0
2  e00003.wav  e00003      0
3  e00004.wav  e00004      0
4  e00005.wav  e00005      0

In [49]:
metadata_e['Class'].value_counts()

0    1958
1     183
Name: Class, dtype: int64

In [50]:
import numpy as np
from tqdm import tqdm
### Now we iterate through every audio file and extract features 
### using Mel-Frequency Cepstral Coefficients
extracted_features_e=[]
for index_num,row in tqdm(metadata_e.iterrows()):
    file_name = os.path.join(os.path.abspath(audio_dataset_path_e),str(row["File_name"]))
    final_class_labels=row["Class"]
    data=features_extractor(file_name)
    extracted_features_e.append([data,final_class_labels])

2141it [07:05,  5.03it/s]

In [51]:
### converting extracted_features to Pandas dataframe
extracted_features_df_e=pd.DataFrame(extracted_features_e,columns=['feature','class'])
extracted_features_df_e.head()

                                             feature  class
0  [-465.1559, 41.453213, 35.34255, 27.562836, 20...      0
1  [-538.3001, 99.9056, 79.675835, 53.92516, 30.8...      0
2  [-474.03848, 114.84031, 88.07827, 54.94203, 26...      0
3  [-464.6292, 111.15359, 87.399796, 57.478626, 3...      0
4  [-483.5378, 114.851746, 82.261215, 42.617752, ...      0

In [52]:
extracted_features_df_e["class"].value_counts()

0    1958
1     183
Name: class, dtype: int64

# Training f

In [53]:
audio_dataset_path_f = 'C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-f'

In [54]:
metadata_f=pd.read_csv('C:/Users/heera/OneDrive - Heerak/Desktop/Dissertation/traindata/training-f/REFERENCE.csv',header= None)

In [55]:
metadata_f.head()

           0      1  2
0  f0001.wav  f0001 -1
1  f0002.wav  f0002 -1
2  f0003.wav  f0003  1
3  f0004.wav  f0004 -1
4  f0005.wav  f0005 -1

In [56]:
metadata_f = metadata_f.rename(columns={0: "File_name",1:"names", 2: "Class"})

In [57]:
metadata_f['Class'] = metadata_f['Class'].map({1: 1, -1: 0})

In [58]:
metadata_f.head()

   File_name  names  Class
0  f0001.wav  f0001      0
1  f0002.wav  f0002      0
2  f0003.wav  f0003      1
3  f0004.wav  f0004      0
4  f0005.wav  f0005      0

In [59]:
metadata_f['Class'].value_counts()

0    80
1    34
Name: Class, dtype: int64

In [60]:
import numpy as np
from tqdm import tqdm
### Now we iterate through every audio file and extract features 
### using Mel-Frequency Cepstral Coefficients
extracted_features_f=[]
for index_num,row in tqdm(metadata_f.iterrows()):
    file_name = os.path.join(os.path.abspath(audio_dataset_path_f),str(row["File_name"]))
    final_class_labels=row["Class"]
    data=features_extractor(file_name)
    extracted_features_f.append([data,final_class_labels])

114it [00:31,  3.66it/s]

In [61]:
### converting extracted_features to Pandas dataframe
extracted_features_df_f=pd.DataFrame(extracted_features_f,columns=['feature','class'])
extracted_features_df_f.head()

                                             feature  class
0  [-472.2643, 122.521996, 92.91784, 55.355717, 2...      0
1  [-462.62396, 129.87538, 96.16401, 53.973408, 1...      0
2  [-478.85098, 149.49686, 107.33791, 55.324066, ...      1
3  [-458.41324, 137.59424, 102.75637, 58.65173, 1...      0
4  [-471.18918, 133.73604, 99.22543, 56.17369, 19...      0

In [62]:
extracted_features_df_f["class"].value_counts()

0    80
1    34
Name: class, dtype: int64

# Merge training-a,training-b,training-c,training-d,training-e,training-f

In [63]:
extracted_features_df = pd.concat([extracted_features_df_a, extracted_features_df_b , extracted_features_df_c , extracted_features_df_d ,extracted_features_df_e , extracted_features_df_f])

In [64]:
extracted_features_df["class"].value_counts()

0    2575
1     665
Name: class, dtype: int64

In [65]:
extracted_features_df.head()

                                             feature  class
0  [-577.74457, 116.68117, 82.45421, 40.931873, 7...      1
1  [-628.8163, 136.51126, 100.357864, 56.20959, 1...      1
2  [-601.1834, 77.22223, 61.623146, 42.22163, 25....      1
3  [-562.589, 88.77356, 71.55774, 49.522438, 29.5...      1
4  [-489.47345, 65.72582, 57.030285, 45.383488, 3...      1

# Split the Dataset and balance the y variable

In [66]:
### Split the dataset into independent and dependent dataset
X=np.array(extracted_features_df['feature'].tolist())
y=np.array(extracted_features_df['class'].tolist())

In [67]:
X.shape

(3240, 40)

In [68]:
f = pd.DataFrame(data = X)

In [69]:
f.head(2)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-577.744568,116.681168,82.454208,40.931873,7.485605,-7.887007,-4.491601,10.008358,24.508472,30.438593,...,3.970105,5.994569,5.839571,3.671602,0.848826,-1.004319,-1.004396,0.530715,2.398161,3.331668
1,-628.816284,136.511261,100.357864,56.209591,19.551243,0.428206,-0.259094,10.158183,21.104572,24.655876,...,2.601242,3.507886,2.841200,1.227278,-0.146953,-0.405241,0.449801,1.629177,2.186589,1.692338

In [70]:
f.shape

(3240, 40)

In [71]:
y.shape

(3240,)

In [72]:
c = pd.DataFrame(data = y)

In [73]:
c.head(2)

   0
0  1
1  1

In [74]:
c.shape

(3240, 1)

In [75]:
merged = pd.concat([f, c], axis=1)

In [76]:
merged.head(10)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,0
0,-577.744568,116.681168,82.454208,40.931873,7.485605,-7.887007,-4.491601,10.008358,24.508472,30.438593,...,5.994569,5.839571,3.671602,0.848826,-1.004319,-1.004396,0.530715,2.398161,3.331668,1
1,-628.816284,136.511261,100.357864,56.209591,19.551243,0.428206,-0.259094,10.158183,21.104572,24.655876,...,3.507886,2.841200,1.227278,-0.146953,-0.405241,0.449801,1.629177,2.186589,1.692338,1
2,-601.183411,77.222229,61.623146,42.221630,25.632828,16.337782,15.002048,18.738729,23.003593,24.039801,...,2.748103,2.922751,2.290715,1.166961,0.225971,0.042497,0.699116,1.713670,2.332496,1
3,-562.588989,88.773560,71.557739,49.522438,29.541950,16.664858,12.350879,14.427670,18.631382,20.879950,...,0.984788,1.662023,2.113323,2.125078,1.752352,1.235468,0.835051,0.692907,0.788556,1
4,-489.473450,65.725822,57.030285,45.383488,33.820339,24.795256,19.436211,17.373821,17.174334,17.152473,...,2.122123,2.094586,2.164926,2.183312,2.057845,1.794090,1.474256,1.199110,1.032410,1
5,-521.912231,109.789894,83.131897,51.075043,25.148706,12.496006,13.276185,21.479649,28.873482,29.626736,...,3.874432,3.368307,1.625785,-0.220157,-1.024072,-0.356238,1.263884,2.738425,3.091081,1
6,-498.956665,72.541809,63.870949,52.172474,40.260586,30.402330,23.705975,19.943716,17.949722,16.366316,...,1.218547,1.346841,1.449242,1.451255,1.343598,1.173696,1.008720,0.897983,0.852941,0
7,-608.290039,121.804886,83.961304,39.375343,5.452353,-7.348024,0.268497,18.132322,33.093048,36.229198,...,3.747848,3.705591,2.851964,2.033481,1.847434,2.232020,2.619894,2.462989,1.681644,1
8,-637.361816,136.915863,91.050957,37.788876,-1.203433,-13.863134,-2.607932,18.966412,34.974941,36.172955,...,3.691612,2.384445,0.977667,0.475651,0.934388,1.584123,1.558784,0.596325,-0.809997,0
9,-618.426880,119.006699,87.037468,48.069096,16.157154,0.287781,0.918467,11.101500,21.160604,24.063671,...,3.019052,2.170335,0.621219,-0.567352,-0.703185,0.121662,1.192087,1.730130,1.425894,1

In [77]:
merged.shape

(3240, 41)

In [78]:
merged.to_csv('C:/Users/heera/Desktop/Dissertation/traindata/merged.csv',index=False)